.post_body_container
{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    height: max-content;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 1%;
    margin-bottom: 1%;
    transition: transform .2s;
}
@media screen and (max-width: 768px) {
    .post_body_container
    {
        flex-direction: column;
        width: inherit !important;
        padding-left:1%;
        padding-right: 3%;
        padding-top: 1%;
    }
    .post_thumbnail
    {
        width:100% !important;
    }
    .post_content_container
    {
        width: 100% !important;
    }
}
.post_thumbnail
{
    width: 30%;
    height: match-parent;
    border-radius: 5px;
    margin: 1%;
    overflow: hidden;
}
.post_content_container
{
    width: 70%;
    height: max-content;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.post_title
{
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    border-radius: 5px;
    height: 20%;
    padding: 1%;
    font-size: 1.5rem;
    font-weight: 700;
    
}
.post_description
{
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    border-radius: 5px;
    height: 80%;
    padding: 1%;
}
.utility_bar_container
{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;
    border-radius: 5px;
}
.label_span
{
    padding-left: 5px;
}
.label_span:hover
{
    cursor: pointer;
    color: blue;
}
.post_body_container:hover
{
    cursor: pointer;
    transform: scale(1.03);
}
.responsive
{
    border-radius: 5px;
}