.comment_list_container
{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 50vh;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-left: 5%;
    padding-right: 5.8%;
    padding-bottom: 1%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.comment_list_container::-webkit-scrollbar { width: 0 !important }
